@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.nyx {
  @include flex-column-center-center;
  line-height: 2.5;
  height: 65rem;
  width: 100%;
  
  @include tablet {
    height:100%;
  }

  @include desktop {
    width: 80rem;
  }

  button {
    margin: 0.75rem;
  }

  &__prologue {
    padding: 1rem;
    font-size: 0.75rem;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__additional_story {
    font-size: 0.75rem;
    padding-bottom: 2rem;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__scenario-name {
    font-size: 1rem;
    text-decoration: underline;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__scenario {
    font-size: 0.75rem;
    padding: 1rem;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__ending {
    h2 {
      font-size: 1rem;
      text-decoration: underline;
      @include tablet {
        font-size: 1.25rem;
      }
    }
    p {
      font-size: 0.75rem;
      padding: 1rem;

      @include tablet {
        font-size: 1rem;
      }
    }
  }

  &__credits {
    height: 100%;
    h2 {
      font-size: 0.75rem;
      text-decoration: underline;
      @include tablet {
        font-size: 1rem;
      }
    }
    p {
      font-size: 0.75rem;
      padding: 1rem;

      @include tablet {
        font-size: 1rem;
      }
    }
  }
}
