@use "../../client/src/styles/partials/resets" as *;
@use "../../client/src/styles/partials/variables" as *;
@use "../../client/src/styles/partials/fonts" as *;
@use "../../client/src/styles/partials/mixins" as *;

:root {
  font-family: 'Press Start 2P', cursive, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $white;
  background-color: $black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}