@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;


h1, h2, h3, h4, h5, h6 {
    font-family: "Maven Pro", sans-serif; 
    font-family: "Press Start 2P", cursive; // Use Press Start 2P for headings
  }
  
  body {
   font-family: "Maven Pro", sans-serif; //  Use Maven Pro for the main text
  }