@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.gamestart {
  @include flex-column-center-center;
  height: 100vh;

  @include tablet {
    @include flex-row-center-center;
  }

  &__character {
    @include flex-column-center-center;
    padding: 1rem;
    margin: auto;
  }

  &__name {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__dropdown {
    font-size: .75rem;
    border-radius: 5rem;
    text-decoration: underline 3px;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__container--dropdown {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
    }

    &__description {
      font-size: .5rem;
      padding: 1rem;
      overflow: hidden;
      transition: max-height 1s ease-in-out;
      visibility: hidden;
      pointer-events: none;
      @include tablet {
        display: flex;
        font-size: .75rem;
      }
    }

    input[type="checkbox"] {
      display: none; 
    }

    input[type="checkbox"]:checked + .gamestart__description {
      max-height: 4rem;
      opacity: 1;
      visibility: hidden;
      pointer-events: auto;
      transition: max-height 0.3s ease-in-out;
    }
  }

  &__image {
    display: none;

    @include desktop {
      display: flex;
      margin: auto;
      width: 20rem;
    }
  }
}
