@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

// TODO: Get json text to appear like it is being 'typed out' onto the screen

.gamestart {
  @include flex-column-center-center;
  height: 50rem;

  @include tablet {
    @include flex-row-center-center;
  }

  &__character {
    @include flex-column-center-center;
    padding: 1rem;
    margin: auto;
  }

  &__name {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
  }

  &__container{

    &--dropdown{
      cursor: pointer;
      @include flex-column-center-center;

      @include tablet{
        display: flex;
      }
      &.open{
        &__description {
          display: flex;
        }
      }
    }
  }

  &__description {
    font-size: 0.75rem;
    padding: 1rem;
    display: none;
    @include tablet {
      display: flex;
    }
  }

  &__image {
    display: none;

    @include desktop {
      display: flex;
      margin: auto;
      width: 20rem;
    }
  }
}
