@use "../partials/_fonts" as *;
@use "../partials/_variables" as *;

// MEDIA QUERY //

// Desktop
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Tablet
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

// FLEX BOX //
@mixin flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-row-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


// FONTS //
@mixin pressstart2p {
  font-family: "Press Start 2P", cursive;
}

@mixin mavenpro-regular {
  font-family: "Maven Pro";
font-weight: 400;
}
@mixin mavenpro-medium {
  font-family: "Maven Pro";
  font-weight: 500;
}
@mixin mavenpro-semibold{
  font-family: "Maven Pro";
  font-weight: 600;
}
@mixin mavenpro-bold {
  font-family: "Maven Pro";
  font-weight: 700;
}
@mixin mavenpro-extrabold {
  font-family: "Maven Pro";
  font-weight: 800;
}
@mixin mavenpro-black {
  font-family: "Maven Pro";
  font-weight: 900;
}

// BUTTONS 
@mixin buttonStyles {
  width: 7rem;
  height: 3rem;
  padding: 1rem;
  background-color: $secondary-color;
  color: $white;
  @include mavenpro-semibold;
  font-size: 1rem;
}