// Media Query Sizes 
$tablet: 768px;
$desktop: 1280px;

// Colors
// Primary Color
$primary-color: #FFD700; // Gold

// Secondary Color
$secondary-color: #6A5ACD; // SlateBlue

// Background Color
$background-color: #000000; // Black

// Text Color
$text-color: #FFFFFF; // White