// Media Query Sizes 
$tablet: 768px;
$desktop: 1280px;

// Colors
// Primary Color
$primary-color: #FFD700; // Gold
$primary-color-dark:  #ffcc00; // Darker Gold

// Secondary Color
$secondary-color: #6A5ACD; // SlateBlue
$secondary-color-dark: #3d29c4; // Darker SlateBlue

// Background Color
$black: #282828; // Black

// Text Color
$white: #F0F0F0; // White

$grey: #b8b3b3 // Grey

