@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.gametitle {
  @include flex-column-center-center;
  background-color: $white;
  color: $black;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  overflow-y: auto;

  &__title {
    font-family: "Press Start 2P", cursive;
    font-size: 1.25rem;
    padding: 2rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__image {
    width: 10rem;
    padding-bottom: 2rem;

    @include tablet {
      width: 15rem;
    }
  }

  &__button {
    @include buttonStyles;
    padding: 1rem;
    width: 10rem;
    
    &:hover{
      cursor: pointer;
      background-color: $secondary-color-dark;
    }
  }
}
