@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.gametitle {
  @include flex-column-center-center;
  text-align: center;
  padding: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  overflow-y: auto;

  &__title {
    font-family: "Press Start 2P", cursive;
    font-size: 1.25rem;
    padding: 2rem;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  &__image {
    width: 10rem;
    padding-bottom: 2rem;
    animation: breathingAnimation 3s ease-in-out infinite;

    @include tablet {
      width: 15rem;
    }
  }

  @keyframes breathingAnimation {
    0%, 100% {
      transform: scale(1); /* Original size */
    }
    50% {
      transform: scale(1.1); /* Slightly larger size */
    }
  }



  &__button {
    @include buttonStyles;
    padding: 1rem;
    width: 10rem;
    
    &:hover{
      cursor: pointer;
      background-color: $secondary-color-dark;
    }
  }
}
