@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.about {
  @include mavenpro-semibold;
  background-color: $white;
  width: 100%;
  color: $black;

  @include desktop {
    margin: auto;
  }

  &__container {
    @include flex-column-center-center;
    max-width: 80rem;
    padding: 1rem 1rem 0;

    @include desktop {
      margin: auto;
    }

    &--characterdetails {
      padding: 1rem 0;

      @include tablet {
        padding: 0 1rem;
      }

    }
    
    &--characters {
      @include tablet {
        @include flex-row-center-center;
      }
    }
    &--content {
      @include flex-column-center-center;
      @include desktop {
        @include flex-row-center-center;
      }
    }
  }

  &__character-img {
    width: 15rem;
    animation: characterAnimation 3s linear infinite;
  }

  @keyframes characterAnimation {
    0% {
      transform: translateX(0) rotate(0);
    }
    50% {
      transform: translateX(4px) rotate(5deg);
    }
    100% {
      transform: translateX(0) rotate(0);
    }
  }

  &__divider {
    @include dividerStyles;

    &--horizontal {
      display: none;
      @include tablet {
        display: flex;
        border: none;
        border-top: 15rem solid $primary-color;
        width: 1rem;
        margin: 1rem;
      }
    }
  }

  &__title {
    color: $secondary-color;
    font-size: 1.25rem;

    @include tablet {
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__subtitle {
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: 5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__description {
    font-size: 0.75rem;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 1rem;
    }
  }
}
